@page
@model IndexModel
@using SoftGym.Common
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if (this.User.IsInRole(GlobalConstants.TrainerRoleName))
            {
                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    <textarea asp-for="Input.Description" class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
            }
            <button id="update-profile-button" type="submit" class="btn btn-primary pill">Save</button>
        </form>
    </div>
    <div class="col-md-4">

        <img src="@Model.Input.ProfilePictureUrl" alt="Alternate Text" class="w-100" />
        <partial name="../../../../../Views/Users/_ChangePhotoPartial.cshtml"  model="@Model.Input.PhotoModel"> 
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}