@model SoftGym.Web.ViewModels.Trainers.Exercises.AllExercisesViewModel

@using SoftGym.Data.Models.Enums
@{
    ViewData["Title"] = "Trainer dashboard";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <partial name="../../../Administration/Views/Dashboard/_SideNavPartial" />
    </div>
    <div class="col-md-7 border">
        <div class="text-center">
            <a href="/Trainers/Exercises/Add" class="btn btn-outline-primary align-content-center m-4" title="Add Exercise">
                <i class="fas fa-plus-square"></i>
            </a>
        </div>
        <ul class="list-group">
            @foreach (var exercise in Model.Exercises)
            {
                <li class="list-group-item">
                    <a href="/Trainers/Exercises/Details/@exercise.Id">@exercise.Name - @exercise.Type (@exercise.Difficulty)</a>
                    <a href="/Trainers/Exercises/Edit/@exercise.Id" class="btn btn-primary custom-blue float-right" title="Edit"><i class="fas fa-edit"></i></a>
                    <a href="/Trainers/Exercises/Delete/@exercise.Id" class="btn btn-danger float-lg-right mx-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                </li>
            }
        </ul>
    </div>
</div>