@using SoftGym.Common
@using SoftGym.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item float-right">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
            <button type="submit" class="btn text-white btn-link btn-outline-white">LOGOUT</button>
        </form>
    </li>
    <li class="nav-item active float-right">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
    </li>
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
        this.User.IsInRole(GlobalConstants.TrainerRoleName))
    {
        <li class="has-children active">
            <a class="padding-inherit">My Roles</a>
            <ul class="dropdown arrow-top">
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li>
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                    </li>
                }
                @if (this.User.IsInRole(GlobalConstants.TrainerRoleName)
                   || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li>
                        <a asp-area="Trainers" asp-controller="Dashboard" asp-action="Index" title="Trainer">Trainer</a>
                    </li>
                }
            </ul>
        </li>
    }
}
else
{
    <li class="nav-item active float-right">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item active float-right">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}