
@{
    ViewData["Title"] = "_SideNavPartial";
}

<ul class="nav nav-pills flex-column" id="sideNav">
    <li class="nav-item"><a class="nav-link" href="/Administration/Dashboard/Index">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/Administration/Users/All">All Users</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Email</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Password</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Personal data</a></li>
</ul>


