<div class="border-bottom">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-3">
            <div class="w-100 h-100 block-feature p-5 bg-light">
                <span class="d-block mb-3">
                    <span class="flaticon-padmasana display-4"></span>
                </span>
                <h2>Yoga</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat iure eveniet perferendis odit est.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="w-100 h-100 block-feature p-5">
                <span class="d-block mb-3">
                    <span class="flaticon-weight display-4"></span>
                </span>
                <h2>Weight Lifting</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat iure eveniet perferendis odit est.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="w-100 h-100 block-feature p-5 bg-light">
                <span class="d-block mb-3">
                    <span class="flaticon-boxing-gloves display-4"></span>
                </span>

                <h2>Boxing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat iure eveniet perferendis odit est.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="w-100 h-100 block-feature p-5">
                <span class="d-block mb-3">
                    <span class="flaticon-running display-4"></span>
                </span>
                <h2>Running</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat iure eveniet perferendis odit est.</p>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-md-6 text-center">
        <a asp-action="GenerateWorkoutPlan" asp-controller="WorkoutPlans" asp-area="" class="btn btn-primary pill px-4 py-2 mt-3 text-center">Generate Workout Plan</a>
    </div>
    <div class="col-md-6 text-center">
        <a asp-action="MyWorkoutPlans" asp-controller="WorkoutPlans" asp-area="" class="btn btn-primary pill px-4 py-2 mt-3 text-center">My Workout Plans</a>
    </div>
</div>
