@model SoftGym.Web.ViewModels.WorkoutPlans.MyWorkoutPlansViewModel

@{
    ViewData["Title"] = "My Workout Plans";
}

<h2 class="text-center mt-4">My Plans</h2>
<hr />

<div class="site-section block-14">

    <div class="container">

        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Active Plans</h2>
        </div>

        <ul class="list-unstyled list-group">
            @foreach (var plan in Model.ActivePlan)
            {
                <li class="list-group-item text-center">
                    <a href="/WorkoutPlans/Details/@plan.Id">
                        Workout Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                    </a>
                    <a href="/WorkoutPlans/Delete/@plan.Id" class="ml-5 btn btn-danger" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>


<div class="site-section block-14">

    <div class="container">

        <div class="heading-with-border text-center">
            <h2 class="heading text-uppercase">Inactive Plans</h2>
        </div>

        <ul class="list-unstyled list-group">
            @foreach (var plan in Model.InactivePlans)
            {
                <li class="list-group-item text-center">
                    <a href="/WorkoutPlans/Details/@plan.Id">
                        Workout Plan from @plan.CreatedOn.ToString("dd/MM/yyyy") to @plan.ExpireDate.ToString("dd/MM/yyyy")
                    </a>
                    <a href="/WorkoutPlans/Delete/@plan.Id" class="ml-5 btn btn-danger" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

