@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account in SoftGym.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Profile Picture(optional):</span>
                </div>
                <div class="custom-file">
                    <input type="file" accept="image/*" asp-for="Input.PictureFile" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    <span asp-validation-for="Input.PictureFile" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary mt-4 pill">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label class="text-black h4">Register with: </label>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary custom-blue" name="provider" value="Facebook" title="Log in using your Facebook account">Facebook</button>
                    </div>
                </div>
            </div>
        </form>
        <img src="~/images/69a884890c65eeaa850c035f16242479.jpg" class="w-100" alt="Alternate Text" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
