


<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <partial name="../../../Administration/Views/Dashboard/_SideNavPartial" />
    </div>
    <div class="col main pt-5 mt-3 border">
        <div class="row justify-content-center m-2">
            <div>
                <a asp-controller="Appointments" asp-action="Add" class="btn custom-blue text-white">New Appointment</a>
            </div>
        </div>

        <div class="row justify-content-center m-2">
            <h2>My Appointments</h2>
            <hr />
            <div id="calender"></div>
            <script>
                $(document).ready(function () {
                    var events = [];

                    $.ajax({
                        type: "GET",
                        url: "/Trainers/Appointments/GetAppointments",
                        success: function (data) {
                            $.each(data, function (i, v) {
                                events.push({
                                    title: v.clientFirstName + " " + v.clientLastName,
                                    start: moment(v.startTime),
                                    end: v.endTime != null ? moment(v.endTime) : null,
                                    color: v.type == 1 ? "#FF6347" : v.type == 2 ? "#00BFFF" : "#ADFF2F"
                                });
                            })
                            console.log(events);
                            GenerateCalender(events);
                        },
                        error: function (error) {
                            alert('failed');
                        }
                    })

                    function GenerateCalender(events) {
                        $('#calender').fullCalendar('destroy');
                        $('#calender').fullCalendar({
                            contentHeight: 400,
                            defaultDate: new Date(),
                            timeFormat: 'h(:mm)a',
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,basicWeek,basicDay,agenda'
                            },
                            eventLimit: true,
                            eventColor: '#378006',
                            events: events,
                        })
                    }
                })
            </script>
        </div>
    </div>
</div>
