@model SoftGym.Web.ViewModels.Users.MyCardViewModel

@{
    ViewData["Title"] = "MyCardView";
}
<h2>Manage your account</h2>

<h4>Change your account settings</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" id="profile" href="/Identity/Account/Manage">Profile</a></li>
            <li class="nav-item"><a class="nav-link active" href="/Users/MyCard" id="profile">My Card</a></li>
            <li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Email</a></li>
            <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a></li>
            <li class="nav-item"><a class="nav-link" id="personal-data" href="/Identity/Account/Manage/PersonalData">Personal data</a></li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2 class="text-center">My Card</h2>
        @if ((bool)this.ViewData["hasVisits"])
        {
            <div class="row">
                <div class="col-md-12 alert alert-dark text-center" role="alert">
                    <span >You already have visits in your card. You can buy more visits when you use yours.</span>
                </div>
            </div>
        }
        <div class="row">
            <img src="@Model.PictureUrl" alt="Alternate Text" class="w-100 col-md-8 mx-auto" />
            <div class="col-md-12 text-center">
                <h5 class="d-inline">Avaiable Visits: @Model.Visits</h5>
                <div class="text-center">
                    <a href="" class="btn btn-primary btn-rounded mb-4 ml-3 pill" data-toggle="modal" data-target="#modalSubscriptionForm">
                        Buy Visits
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="BuyCard" asp-controller="Cards" method="post">
                <div class="modal-body text-center m-3">
                    <span class="text-info">Price for one visit (without card) - 2 USD</span>
                    <input type="text" asp-for="Id" value="@Model.Id" hidden/>
                    <select class="browser-default mt-3 custom-select" asp-for="Visits">
                        <option selected>Card Options</option>
                        <option value="12">12 visits - 20 USD</option>
                        <option value="16">16 visits - 26 USD</option>
                        <option value="20">20 visits - 32 USD</option>
                        <option value="30">30 visits - 42 USD</option>
                    </select>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn pill btn-success">Buy with Paypal <i class="fab fa-paypal"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>