@model SoftGym.Web.ViewModels.Users.PlansIndexView

@{
    ViewData["Title"] = "Eating Plans";
}

<h1 class="text-center mb-3">Food Plans</h1>
<hr />
<div class="row text-center">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/Meals/GeneratePlan">
            My Eating Plan
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/EatingPlans/GeneratePlan">
            Generate New Eating Plan
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/EatingPlans/MyPlans/@Model.Id">
            My Plans
        </a>
    </div>
</div>