@model SoftGym.Web.ViewModels.Users.PlansIndexView

@{
    ViewData["Title"] = "Eating Plans";
}

    <h1 class="text-center mb-3">
        Eating Plans
        <a data-toggle="modal" data-target="#infoModal" title="Info" class="btn btn-info"><i class="fas fa-info"></i></a>
        <partial name="_InfoPartial" />
    </h1>
<hr />
<div class="row text-center">
    @if (Model.Redirected)
    {
        <div class="col-md-12 alert alert-dark text-center" role="alert">
            You already have active plan. Wait for your plan to end or delete it in order to generate new one.
        </div>
    }
    <div class="col-md-6">
        <a class="btn btn-primary btn-lg pill" href="/EatingPlans/MyPlans/@Model.Id">
            My Plans
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-lg pill" href="/EatingPlans/GeneratePlan">
            Generate New Eating Plan
        </a>
    </div>
</div>